In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [2]:
tickers = ["AAPL", "AMZN", "GOOG", "TSLA"]

In [3]:
stock_dict = dict()
for i in tickers:
    stock_dict[i] = yf.download(i, start = '2013-01-01', end = '2023-01-01')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
stock  = yf.download(tickers,  start = '2013-01-01', end = '2023-01-01')

[*********************100%***********************]  4 of 4 completed

In [5]:
stock.head()

            Adj Close                                    Close           \
                 AAPL     AMZN       GOOG      TSLA       AAPL     AMZN
Date
2013-01-02  16.791187  12.8655  18.013729  2.357333  19.608213  12.8655
2013-01-03  16.579239  12.9240  18.024191  2.318000  19.360714  12.9240
2013-01-04  16.117428  12.9575  18.380356  2.293333  18.821428  12.9575
2013-01-07  16.022625  13.4230  18.300158  2.289333  18.710714  13.4230
2013-01-08  16.065748  13.3190  18.264042  2.245333  18.761070  13.3190

                                      High           ...        Low            \
                 GOOG      TSLA       AAPL     AMZN  ...       GOOG      TSLA
Date                                                 ...
2013-01-02  18.013729  2.357333  19.821428  12.9050  ...  17.846855  2.314000
2013-01-03  18.024191  2.318000  19.631071  13.0440  ...  17.950716  2.316667
2013-01-04  18.380356  2.293333  19.236786  12.9900  ...  18.124067  2.261333
2013-01-07  18.300158  2.289333  18.903570  13.4865  ...  18.196297  2.260000
2013-01-08  18.264042  2.245333  18.996071  13.4490  ...  18.043119  2.207333

                 Open                                   Volume            \
                 AAPL     AMZN       GOOG      TSLA       AAPL      AMZN
Date
2013-01-02  19.779285  12.8040  17.918339  2.333333  560518000  65420000
2013-01-03  19.567142  12.8635  18.055573  2.345333  352965200  55018000
2013-01-04  19.177500  12.8790  18.165413  2.320000  594333600  37484000
2013-01-07  18.642857  13.1485  18.317591  2.320000  484156400  98200000
2013-01-08  18.900356  13.3535  18.319834  2.300000  458707200  60214000


                 GOOG      TSLA
Date
2013-01-02  102033017  17922000
2013-01-03   93075567  11130000
2013-01-04  110954331  10110000
2013-01-07   66476239   6630000
2013-01-08   67295297  19260000

[5 rows x 24 columns]

In [6]:
stock.tail()

             Adj Close                                         Close  \
                  AAPL       AMZN       GOOG        TSLA        AAPL
Date
2022-12-23  131.299820  85.250000  89.809998  123.150002  131.860001
2022-12-27  129.477585  83.040001  87.930000  109.099998  130.029999
2022-12-28  125.504547  81.820000  86.459999  112.709999  126.040001
2022-12-29  129.059372  84.180000  88.949997  121.820000  129.610001
2022-12-30  129.378006  84.000000  88.730003  123.180000  129.929993

                                                    High             ...  \
                 AMZN       GOOG        TSLA        AAPL       AMZN  ...
Date                                                                 ...
2022-12-23  85.250000  89.809998  123.150002  132.419998  85.779999  ...
2022-12-27  83.040001  87.930000  109.099998  131.410004  85.349998  ...
2022-12-28  81.820000  86.459999  112.709999  131.029999  83.480003  ...
2022-12-29  84.180000  88.949997  121.820000  130.479996  84.550003  ...
2022-12-30  84.000000  88.730003  123.180000  129.949997  84.050003  ...

                  Low                    Open                        \
                 GOOG        TSLA        AAPL       AMZN       GOOG
Date
2022-12-23  87.620003  121.019997  130.919998  83.250000  87.620003
2022-12-27  87.535004  108.760002  131.380005  84.970001  89.309998
2022-12-28  86.370003  108.239998  129.669998  82.800003  87.500000
2022-12-29  86.989998  117.500000  127.989998  82.870003  87.029999
2022-12-30  87.029999  119.750000  128.410004  83.120003  87.364998

                          Volume
                  TSLA      AAPL      AMZN      GOOG       TSLA
Date
2022-12-23  126.370003  63814900  57433700  17815000  166989700
2022-12-27  117.500000  69007800  57284000  15470900  208643400
2022-12-28  110.349998  85438400  58228600  17879600  221070500
2022-12-29  120.389999  75703700  54995900  18280700  221923300
2022-12-30  119.949997  77034200  62401200  19190300  157777300

[5 rows x 24 columns]

In [7]:
stock.info

<bound method DataFrame.info of              Adj Close                                         Close  \
                  AAPL       AMZN       GOOG        TSLA        AAPL
Date
2013-01-02   16.791187  12.865500  18.013729    2.357333   19.608213
2013-01-03   16.579239  12.924000  18.024191    2.318000   19.360714
2013-01-04   16.117428  12.957500  18.380356    2.293333   18.821428
2013-01-07   16.022625  13.423000  18.300158    2.289333   18.710714
2013-01-08   16.065748  13.319000  18.264042    2.245333   18.761070
...                ...        ...        ...         ...         ...
2022-12-23  131.299820  85.250000  89.809998  123.150002  131.860001
2022-12-27  129.477585  83.040001  87.930000  109.099998  130.029999
2022-12-28  125.504547  81.820000  86.459999  112.709999  126.040001
2022-12-29  129.059372  84.180000  88.949997  121.820000  129.610001
2022-12-30  129.378006  84.000000  88.730003  123.180000  129.929993

                                                    High             ...  \
                 AMZN       GOOG        TSLA        AAPL       AMZN  ...
Date                                                                 ...
2013-01-02  12.865500  18.013729    2.357333   19.821428  12.905000  ...
2013-01-03  12.924000  18.024191    2.318000   19.631071  13.044000  ...
2013-01-04  12.957500  18.380356    2.293333   19.236786  12.990000  ...
2013-01-07  13.423000  18.300158    2.289333   18.903570  13.486500  ...
2013-01-08  13.319000  18.264042    2.245333   18.996071  13.449000  ...
...               ...        ...         ...         ...        ...  ...
2022-12-23  85.250000  89.809998  123.150002  132.419998  85.779999  ...
2022-12-27  83.040001  87.930000  109.099998  131.410004  85.349998  ...
2022-12-28  81.820000  86.459999  112.709999  131.029999  83.480003  ...
2022-12-29  84.180000  88.949997  121.820000  130.479996  84.550003  ...
2022-12-30  84.000000  88.730003  123.180000  129.949997  84.050003  ...

                  Low                    Open                        \
                 GOOG        TSLA        AAPL       AMZN       GOOG
Date
2013-01-02  17.846855    2.314000   19.779285  12.804000  17.918339
2013-01-03  17.950716    2.316667   19.567142  12.863500  18.055573
2013-01-04  18.124067    2.261333   19.177500  12.879000  18.165413
2013-01-07  18.196297    2.260000   18.642857  13.148500  18.317591
2013-01-08  18.043119    2.207333   18.900356  13.353500  18.319834
...               ...         ...         ...        ...        ...
2022-12-23  87.620003  121.019997  130.919998  83.250000  87.620003
2022-12-27  87.535004  108.760002  131.380005  84.970001  89.309998
2022-12-28  86.370003  108.239998  129.669998  82.800003  87.500000
2022-12-29  86.989998  117.500000  127.989998  82.870003  87.029999
2022-12-30  87.029999  119.750000  128.410004  83.120003  87.364998

                           Volume
                  TSLA       AAPL      AMZN       GOOG       TSLA
Date
2013-01-02    2.333333  560518000  65420000  102033017   17922000
2013-01-03    2.345333  352965200  55018000   93075567   11130000
2013-01-04    2.320000  594333600  37484000  110954331   10110000
2013-01-07    2.320000  484156400  98200000   66476239    6630000
2013-01-08    2.300000  458707200  60214000   67295297   19260000
...                ...        ...       ...        ...        ...
2022-12-23  126.370003   63814900  57433700   17815000  166989700
2022-12-27  117.500000   69007800  57284000   15470900  208643400
2022-12-28  110.349998   85438400  58228600   17879600  221070500
2022-12-29  120.389999   75703700  54995900   18280700  221923300
2022-12-30  119.949997   77034200  62401200   19190300  157777300

[2518 rows x 24 columns]>

In [8]:
stock_csv = stock.to_csv("data/stocks.csv")

In [17]:
stocks = pd.read_csv("data/stocks.csv", header=[0,1], index_col=[0], parse_dates=[0])

In [18]:
stocks

             Adj Close                                         Close  \
                  AAPL       AMZN       GOOG        TSLA        AAPL
Date
2013-01-02   16.791187  12.865500  18.013729    2.357333   19.608213
2013-01-03   16.579239  12.924000  18.024191    2.318000   19.360714
2013-01-04   16.117428  12.957500  18.380356    2.293333   18.821428
2013-01-07   16.022625  13.423000  18.300158    2.289333   18.710714
2013-01-08   16.065748  13.319000  18.264042    2.245333   18.761070
...                ...        ...        ...         ...         ...
2022-12-23  131.299820  85.250000  89.809998  123.150002  131.860001
2022-12-27  129.477585  83.040001  87.930000  109.099998  130.029999
2022-12-28  125.504547  81.820000  86.459999  112.709999  126.040001
2022-12-29  129.059372  84.180000  88.949997  121.820000  129.610001
2022-12-30  129.378006  84.000000  88.730003  123.180000  129.929993

                                                    High             ...  \
                 AMZN       GOOG        TSLA        AAPL       AMZN  ...
Date                                                                 ...
2013-01-02  12.865500  18.013729    2.357333   19.821428  12.905000  ...
2013-01-03  12.924000  18.024191    2.318000   19.631071  13.044000  ...
2013-01-04  12.957500  18.380356    2.293333   19.236786  12.990000  ...
2013-01-07  13.423000  18.300158    2.289333   18.903570  13.486500  ...
2013-01-08  13.319000  18.264042    2.245333   18.996071  13.449000  ...
...               ...        ...         ...         ...        ...  ...
2022-12-23  85.250000  89.809998  123.150002  132.419998  85.779999  ...
2022-12-27  83.040001  87.930000  109.099998  131.410004  85.349998  ...
2022-12-28  81.820000  86.459999  112.709999  131.029999  83.480003  ...
2022-12-29  84.180000  88.949997  121.820000  130.479996  84.550003  ...
2022-12-30  84.000000  88.730003  123.180000  129.949997  84.050003  ...

                  Low                    Open                        \
                 GOOG        TSLA        AAPL       AMZN       GOOG
Date
2013-01-02  17.846855    2.314000   19.779285  12.804000  17.918339
2013-01-03  17.950716    2.316667   19.567142  12.863500  18.055573
2013-01-04  18.124067    2.261333   19.177500  12.879000  18.165413
2013-01-07  18.196297    2.260000   18.642857  13.148500  18.317591
2013-01-08  18.043119    2.207333   18.900356  13.353500  18.319834
...               ...         ...         ...        ...        ...
2022-12-23  87.620003  121.019997  130.919998  83.250000  87.620003
2022-12-27  87.535004  108.760002  131.380005  84.970001  89.309998
2022-12-28  86.370003  108.239998  129.669998  82.800003  87.500000
2022-12-29  86.989998  117.500000  127.989998  82.870003  87.029999
2022-12-30  87.029999  119.750000  128.410004  83.120003  87.364998

                           Volume
                  TSLA       AAPL      AMZN       GOOG       TSLA
Date
2013-01-02    2.333333  560518000  65420000  102033017   17922000
2013-01-03    2.345333  352965200  55018000   93075567   11130000
2013-01-04    2.320000  594333600  37484000  110954331   10110000
2013-01-07    2.320000  484156400  98200000   66476239    6630000
2013-01-08    2.300000  458707200  60214000   67295297   19260000
...                ...        ...       ...        ...        ...
2022-12-23  126.370003   63814900  57433700   17815000  166989700
2022-12-27  117.500000   69007800  57284000   15470900  208643400
2022-12-28  110.349998   85438400  58228600   17879600  221070500
2022-12-29  120.389999   75703700  54995900   18280700  221923300
2022-12-30  119.949997   77034200  62401200   19190300  157777300

[2518 rows x 24 columns]

In [20]:
stocks.columns = stocks.columns.to_flat_index()

In [22]:
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)

In [23]:
stocks

             Adj Close                                         Close  \
                  AAPL       AMZN       GOOG        TSLA        AAPL
Date
2013-01-02   16.791187  12.865500  18.013729    2.357333   19.608213
2013-01-03   16.579239  12.924000  18.024191    2.318000   19.360714
2013-01-04   16.117428  12.957500  18.380356    2.293333   18.821428
2013-01-07   16.022625  13.423000  18.300158    2.289333   18.710714
2013-01-08   16.065748  13.319000  18.264042    2.245333   18.761070
...                ...        ...        ...         ...         ...
2022-12-23  131.299820  85.250000  89.809998  123.150002  131.860001
2022-12-27  129.477585  83.040001  87.930000  109.099998  130.029999
2022-12-28  125.504547  81.820000  86.459999  112.709999  126.040001
2022-12-29  129.059372  84.180000  88.949997  121.820000  129.610001
2022-12-30  129.378006  84.000000  88.730003  123.180000  129.929993

                                                    High             ...  \
                 AMZN       GOOG        TSLA        AAPL       AMZN  ...
Date                                                                 ...
2013-01-02  12.865500  18.013729    2.357333   19.821428  12.905000  ...
2013-01-03  12.924000  18.024191    2.318000   19.631071  13.044000  ...
2013-01-04  12.957500  18.380356    2.293333   19.236786  12.990000  ...
2013-01-07  13.423000  18.300158    2.289333   18.903570  13.486500  ...
2013-01-08  13.319000  18.264042    2.245333   18.996071  13.449000  ...
...               ...        ...         ...         ...        ...  ...
2022-12-23  85.250000  89.809998  123.150002  132.419998  85.779999  ...
2022-12-27  83.040001  87.930000  109.099998  131.410004  85.349998  ...
2022-12-28  81.820000  86.459999  112.709999  131.029999  83.480003  ...
2022-12-29  84.180000  88.949997  121.820000  130.479996  84.550003  ...
2022-12-30  84.000000  88.730003  123.180000  129.949997  84.050003  ...

                  Low                    Open                        \
                 GOOG        TSLA        AAPL       AMZN       GOOG
Date
2013-01-02  17.846855    2.314000   19.779285  12.804000  17.918339
2013-01-03  17.950716    2.316667   19.567142  12.863500  18.055573
2013-01-04  18.124067    2.261333   19.177500  12.879000  18.165413
2013-01-07  18.196297    2.260000   18.642857  13.148500  18.317591
2013-01-08  18.043119    2.207333   18.900356  13.353500  18.319834
...               ...         ...         ...        ...        ...
2022-12-23  87.620003  121.019997  130.919998  83.250000  87.620003
2022-12-27  87.535004  108.760002  131.380005  84.970001  89.309998
2022-12-28  86.370003  108.239998  129.669998  82.800003  87.500000
2022-12-29  86.989998  117.500000  127.989998  82.870003  87.029999
2022-12-30  87.029999  119.750000  128.410004  83.120003  87.364998

                           Volume
                  TSLA       AAPL      AMZN       GOOG       TSLA
Date
2013-01-02    2.333333  560518000  65420000  102033017   17922000
2013-01-03    2.345333  352965200  55018000   93075567   11130000
2013-01-04    2.320000  594333600  37484000  110954331   10110000
2013-01-07    2.320000  484156400  98200000   66476239    6630000
2013-01-08    2.300000  458707200  60214000   67295297   19260000
...                ...        ...       ...        ...        ...
2022-12-23  126.370003   63814900  57433700   17815000  166989700
2022-12-27  117.500000   69007800  57284000   15470900  208643400
2022-12-28  110.349998   85438400  58228600   17879600  221070500
2022-12-29  120.389999   75703700  54995900   18280700  221923300
2022-12-30  119.949997   77034200  62401200   19190300  157777300

[2518 rows x 24 columns]

In [24]:
stocks.describe()

         Adj Close                                               Close  \
              AAPL         AMZN         GOOG         TSLA         AAPL
count  2518.000000  2518.000000  2518.000000  2518.000000  2518.000000
mean     60.379425    73.780049    59.315665    73.102271    62.416599
std      49.039435    53.289558    35.169357   101.969056    48.709794
min      12.013330    12.411500    17.506132     2.194000    13.947500
25%      24.571802    21.978374    29.984361    14.544000    26.983750
50%      39.343803    59.735750    51.419500    18.954333    41.313749
75%      89.740057   107.755125    73.789251    79.093498    91.526875
max     180.190964   186.570496   150.709000   409.970001   182.009995

                                                     High               ...  \
              AMZN         GOOG         TSLA         AAPL         AMZN  ...
count  2518.000000  2518.000000  2518.000000  2518.000000  2518.000000  ...
mean     73.780049    59.315665    73.102271    63.087693    74.661898  ...
std      53.289558    35.169357   101.969056    49.322128    53.998763  ...
min      12.411500    17.506132     2.194000    14.271429    12.646500  ...
25%      21.978374    29.984361    14.544000    27.219376    22.239375  ...
50%      59.735750    51.419500    18.954333    41.872499    60.270750  ...
75%     107.755125    73.789251    79.093498    92.881876   110.125498  ...
max     186.570496   150.709000   409.970001   182.940002   188.654007  ...

               Low                      Open                            \
              GOOG         TSLA         AAPL         AMZN         GOOG
count  2518.000000  2518.000000  2518.000000  2518.000000  2518.000000
mean     58.708454    71.355799    62.383387    73.823536    59.301045
std      34.763435    99.452438    48.683035    53.345656    35.170944
min      17.323069     2.140667    13.856071    12.447000    17.550716
25%      29.780375    14.285333    26.971250    21.978876    30.083364
50%      50.843750    18.574666    41.353750    59.936501    51.381500
75%      72.982878    77.288334    91.272499   107.947500    73.570501
max     149.887497   405.666656   182.630005   187.199997   151.863495

                          Volume
              TSLA          AAPL          AMZN          GOOG          TSLA
count  2518.000000  2.518000e+03  2.518000e+03  2.518000e+03  2.518000e+03
mean     73.168104  1.713540e+08  8.025620e+07  3.960690e+07  1.120962e+08
std     102.115086  1.250497e+08  4.230300e+07  2.685867e+07  8.078159e+07
min       2.205333  3.519590e+07  1.762600e+07  1.584340e+05  6.603000e+06
25%      14.523499  9.188698e+07  5.363918e+07  2.432500e+07  6.290422e+07
50%      18.900333  1.301368e+08  6.862200e+07  3.117500e+07  8.918415e+07
75%      79.123999  2.045116e+08  9.298800e+07  4.470352e+07  1.311840e+08
max     411.470001  1.460852e+09  4.771220e+08  4.643901e+08  9.140820e+08

[8 rows x 24 columns]

In [27]:
close = stocks.loc[:, 'Close'].copy()
close.describe()

              AAPL         AMZN         GOOG         TSLA
count  2518.000000  2518.000000  2518.000000  2518.000000
mean     62.416599    73.780049    59.315665    73.102271
std      48.709794    53.289558    35.169357   101.969056
min      13.947500    12.411500    17.506132     2.194000
25%      26.983750    21.978374    29.984361    14.544000
50%      41.313749    59.735750    51.419500    18.954333
75%      91.526875   107.755125    73.789251    79.093498
max     182.009995   186.570496   150.709000   409.970001